#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
}

body {
  background-color: #f9ecd3;
  font-weight: 400;
  font-style: normal;
  /* background-image: url("../public/headerimage.png");
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

header{
  padding: 2.5em;
}

h2 {
  font-weight: 300;
  font-size: 1.2rem;
}

header img {
  max-width: 70%;
}

.card-container {
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
  justify-content: center;
}